@font-face {
  font-family: 'TinkoffSans';
  src: url('../fonts/TinkoffSans.otf');
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: 'TinkoffSans';

  -webkit-font-smoothing: antialiased
}