
:root {
  --dc-layout-header-height: 74px;

  --dc-primary-background-color: #FFF;
  --dc-primary-text-color: #000;
  --dc-link-color: #0008;
  --dc-link-color--active: #000D;
  --dc-link-color--hover: #000;
  --dc-link-color--disabled: #0006;
  --dc-brand-color: #ffdd2d;
  --dc-brand-color--darken: #ecc701;
  --dc-gray-color: #dedede;
  --dc-gray-color--darken: #cbcaca;
  --dc-border-color: #0002;

  --dc-block-padding-1: 6px;
  --dc-block-padding-2: 12px;
  --dc-block-padding-3: 18px;
  --dc-block-padding-4: 24px;

  --dc-border-radius: 6px;
  --dc-border-radius-sm: 3px;

  --dc-font-size-s: 12px;
  --dc-font-size-m: 14px;
  --dc-font-size-l: 18px;

  --dc-font-size-xl: 22px;
}
